html, 
body {
    height: 100%;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body{
    background-color: #c0c7c7;
}
* {
    font-family: Montserrat, sans-serif;
}
#root{
    height: 100%;
}
.main_header {
    min-height: 50px;
}
.main_header h2{
    color: orange;
    text-transform: capitalize;
    font-size: 30px;
    padding: 10px 20px;
    margin: 0;
    position: fixed;
}
.fl {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.signUpContainer form {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}
.signUpContainer form > *{
    border: 1px solid lightgray;
    border-radius: 2px;
    padding: 10px;
    margin: 10px 0;
    flex-basis: 100%;
}
.signUpContainer form button{
    cursor: pointer;
    background: lightgreen;
}
.team_img_container {
    width: 100px;
    height: 100px;
}
.team_img_container img {
    display: block;
    max-width: 100%;
    height: 100%;
}

.standing_head, .squad_head,.scores_head {
    display: inline-block;
    position: relative;
    color: #fff;
    padding-left: 30px;
    margin-top: 0;
    font-size: 60px;
}
.standing_head:before, .squad_head:before, .scores_head:before {
    content: '';
    position: absolute;
    height: 45px;
    bottom: -15px;
    left: 0;
    background: limegreen;
    opacity: .5;
    width: 130%;
    z-index: -1;
}

#standing a {
    display: block;
    text-decoration: none;
    color: #0099ff;
    line-height: 40px;
}

#standing {
    background: #fff;
    color: #000;
    border-collapse: collapse;
    width: 100%;
}

#standing thead td{
    color: #9fbae6;
}
#standing tbody tr{
    background: transparent;
    transition: all 2s;
}
#standing tr td{
    padding: .375rem .95rem;
    min-width: 50px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid lightgray;
}

#standing tr td:nth-child(2){
    text-align: left;
}

#standing  tbody tr:hover td{
    background: lightgray;
}

.small_team_logo {
    width: 36px;
    height: 36px;
    float: left;
    margin-right: 5px;
}
.team_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.team_logo img {
    display: block;
    width: 50%;
    height: 60%;
    margin: 20px 60px 0 auto;
}

.team_info > div {
    flex-basis: 50%;
}
.team_info > div:last-child {
    flex-basis: 100%;
}

.team_info > div:last-child table {
    width: 100%;
    text-transform: capitalize;
}

.squad_table, .scores_table {
    width: 100%;
    background: #000;
    color: #fff;
    border-collapse: collapse;
    overflow-x: auto;
}

.squad_table td, .scores_table td {
    border-bottom: 1px solid #fff;
    line-height: 50px;
}

.squad_table td:not(:nth-child(2)),.scores_table td {
    text-align: center;
}
#see_scores {
    width: 200px;
    height: 40px;
    position: relative;
    border-radius: 20px;
    background: #5091b9;
}
#see_scores a{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 10px;
    color: #fff;
    text-align: center;
    text-decoration: none;
}


.league_select {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 20px 0;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
   cursor: pointer;
}

/**/


*, *:before, *:after {
  box-sizing: border-box;
}

.container {
  padding: 1px 0;
  height: 100%;
  width: 100%;
  background-image: url("background.jpg");
  background-size: cover;
  color: #fff;
  font-family: "Comfortaa", "Helvetica", sans-serif;
}

.login {
  max-width: 280px;
  min-height: 70%;
  margin: 30px auto;
  background-color: rgba(10,10,10,.68);
}

.login-icon-field {
  height: 250px;
  width: 100%;
  /*background-color: red;*/
}

.login-icon {
  margin: 50px 65px;
}

.login-form {
  padding: 8px 20px 20px;
  height: 120px;
  width: 100%;
  /*background-color: green;*/
}

.username-row {
  position: relative;
  height: 40px;
  /*background-color: pink;*/
  border-bottom: 1px solid;
  margin-bottom: 10px;
}

.password-row {
  position: relative;
  height: 40px;
 /* background-color: grey;*/
  border-bottom: 1px solid;
}

.password-icon,
.user-icon {
  margin: 5px;
}

.password-icon .key-path,
.user-icon .user-path{
  fill: rgba(10,10,10,0);
  stroke: #fff;
  stroke-width: 3.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  -webkit-animation: dash 3s .3s linear forwards;
  animation: dash 3s .3s linear forwards;
}

.user-icon .user-path {
  -webkit-animation: dash 3s .8s linear forwards;
  animation: dash 3s .8s linear forwards;
}

input {
  position: absolute;
  width: 195px;
  height: 30px;
  margin: 5px 0;
  background: transparent;
  border: none;
  color: #fff;
}

input:focus,
button:focus {
  outline: none;
}

input::-webkit-input-placeholder {
  color: rgba(255,255,255,.4);
}

input::-moz-placeholder {
  color: rgba(255,255,255,.4);
}

.call-to-action {
  margin: 22px 0;
  height: 130px;
  width: 100%;
  /*background-color: blue;*/
}

button {
  display: block;
  position: relative;
  width: 240px;
  height: 40px;
  padding: 0;
  margin: 10px 20px 10px;
  font-weight: 700;
  color: #fff;
  background-color: #22c08a;
  border: none;
  border-radius: 20px;
  transition: background-color .10s ease-in-out;
  user-select:none;
  cursor: pointer;
}

button:hover {
  background-color: #26d69a;
}

button:active {
  background-color: #1eaa7a;
}

#login-button {
    margin-top: 40px;
}

.container p {
  display: inline-block;
  width: 200px;
  margin: 0 40px;
  font-size: .8rem;
  color: rgba(255,255,255,.4);
  /*background-color: yellow;*/
}

.container p a {
  color: #fff;
}

.container label,
.container p a:hover {
  -webkit-cursor: pointer;
  cursor: pointer;
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

#signUp-container{
    opacity: 0;
    position: fixed;
    top: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.9);
    transition: all .5s;
}

#signUp-container input {
    position: static;
    border-bottom: 1px solid #fff;
    display: block;
    width: 240px;
    color: #fff;
    margin: 10px auto;
}

#signUp-container form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 50px 30px;
    background: #000;
}
#root > div:first-child:not(.notice) {
    height: 100%;
}

#signUp-container button {
    margin: 40px;
}
.fade-enter {
    opacity: 0;
    z-index: 1;
  }
  
  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
  }
#close-form {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    cursor: pointer;
}
.err_message {
    display: block;
    position: absolute;
    top: -45px;
    color: #f00;
    font-size: 12px;
}
#signUp-btn .err_message {
    top: -35px;
}

.subscription_container {
    float: right;
    padding-right: 30px;
}
.subscription_container p {
    color: #fff;
}
.subscription_container button {
    margin: 20px auto;
}

.notice {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 50px;
    background: #fff;
}
.img_loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.go_to {
    display: block;
    width: 240px;
    height: 40px;
    border-radius: 20px;
    margin: 10px 20px 10px;
    padding: 10px;
    background: #22c08a;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
}

#logout {
    background: tomato;
}

.home_link {
    text-align: center;
}
.home_link a {
    font-size: 30px;
    color: green;
    text-decoration: none;
}

.user_greeting {
    margin-left: 20px;
}
